.vscode/**
src/**
.gitignore
tsconfig.json
tslint.json
**/*.map
*.txt
*.log
package-lock.json
.yarnclean
yarn.lock

!paste.png

*.vsix

**/.git

**/typings/*
**/@types/*
**/node_modules/.bin/*

**/__tests__
**/test
**/tests
**/powered-test
**/benchmark
**/spec/*.spec.js
**/spec/fixtures/*


**/docs
**/doc
**/info
**/website

**/images/*
**/assets

**/example
**/examples
**/*_example*
**/example.*

**/coverage
**/.nyc_output

**/Makefile
**/Gulpfile.js
**/Gruntfile.js

**/appveyor.yml
**/circle.yml
**/codeship-services.yml
**/codeship-steps.yml
**/wercker.yml
**/karma.conf.js

**/.npmignore
**/.gitignore
**/.*ignore

**/.tags
**/.tags1

**/.travis.yml
**/.coveralls.yml
**/.tern-project
**/.gitattributes
**/.gitmodules
**/.editorconfig
**/.babelrc
**/.eslintrc
**/.eslintrc.yml
**/.eslintrc.json
**/.jshintrc
**/tsconfig.json
**/.flowconfig
**/.documentup.json
**/.yarn-metadata.json
**/.jscs.json
**/jsl.node.conf
**/*.md
**/*.markdown
**/*.txt
!**/eslint/messages/*.txt

**/*.css
**/*.ts

**/license
**/licence
**/license*

**/changelog
**/authors
**/.mailmap

**/tst
**/*.test.*
**/test.*

**/component.json
**/package-lock.json
**/yarn.lock

**/*.png
**/*.jpg
**/*.gif
**/*.patch
